{% extends "base.html" %} {% block title %}Display Board{% endblock %}

{% block content %}

<!-- Header-->
<header class="py-3">
	<div class="container px-4 px-lg-5 my-2">
		<div class="text-center text-black">
			<p class="fw-bolder">Cherish moments and share the love!</p>
			<p class="lead fw-normal text-black-50 mb-0">Make memories together. ❤️ </p>
		</div>
	</div>
</header>

<h2>Board</h2>

<ul class="list-group list-group-flash" id="notes">
	{% for note in query %}
	<li class="list-group-item">
		{{ note.userName }}
		<div align='center'> 
			<font size="+1"><b>{{ note.data }}</b></font>
		</div> 
		{% if note.img is not none %}
		<div align='center'>
			<img src="data:image/jpeg;base64,{{ note.img }}" width="60%" />
		</div>
		{% endif %}
		<font size="-3">{{ note.date }} </font>
	</li>
	{% endfor %}

</ul>

<!-- Pagination Links-->
<div class="text-left mt-3">
	<a href="{{ url_for('views.home', page=query.prev_num) }}"
		 class="btn btn-outline-dark 
		 {% if query.page == 1 %}disabled{% endif %}">
			&laquo;
	</a>
<!-- Loop through the number of pages to display a link for each-->
	{% for page_num in query.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
					{% if query.page == page_num %}
					<a href="{{ url_for('views.home', page=page_num) }}"
						 class="btn btn-dark">
							{{ page_num }}
					</a>
					{% else %}
					<a href="{{ url_for('views.home', page=page_num) }}"
						 class="btn btn-outline-dark">
							{{ page_num }}
					</a>
					{% endif %}
			{% else %}
					...
			{% endif %}
	{% endfor %}
	<a href="{{ url_for('views.home', page=query.next_num) }}"
		 class="btn btn-outline-dark 
		 {% if query.page == query.pages %}disabled{% endif %}">
			&raquo;
	</a>
<p class="text-left mt-2">
	Showing page {{ query.page }} of {{ query.pages }}
</p>
</div>
{% endblock %}