{% extends "base.html" %} {% block title %}Display Board{% endblock %}

{% block content %}
<h2>Events Board</h2>

<ul class="list-group list-group-flash" id="notes">
	{% for note in query %}
	<li class="list-group-item">
		{{ note.date }} &emsp; {{ note.userName }}
		<div align='center'> 
			<b>{{ note.data }}</b>
		</div> 
		{% if note.img is not none %}
		<div align='center'>
			<img src="data:image/jpeg;base64,{{ note.img }}" width="70%" />
		</div>
		{% endif %}
	</li>
	{% endfor %}

</ul>
{% endblock %}