{% extends "base.html" %} {% block title %}Edit{% endblock %}

{% block content %}
<h2>Event Creation</h2>

<ul class="list-group list-group-flash" id="notes">
	{% for note in user.notes %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
		{{ note.date}} &emsp; {{ note.data }} 
		{% if note.img is not none %}
			<img src="data:image/jpeg;base64,{{ note.img }}" width="100px" />
		{% endif %}
		<button class="close" type="button" onclick="deleteNote({{ note.id }})">
			<span aria-hidden="true">&times;</span>
		</button>
	</li>
	
	{% endfor %}
</ul>


<form method="post" enctype="multipart/form-data">
	<label for="image-upload" class="btn btn-primary">Upload image to Note
		<input type="file" name="image-upload" id="image-upload" accept="image/png, image/jpeg" hidden>
	</label>

	<textarea name="note" id="note" class="form-control"></textarea>
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Event</button>
	</div>
</form>
{% endblock %}