{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<!-- <h1>This is sign-up page</h1> -->
<form method="post">
	<h3 align="center">Sign Up</h3>
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" name="email" id="email" class="form-control" placeholder="abc@xyz.com"/>
		<label for="firstName">First Name</label>
		<input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter first name"/>
		<label for="password1">Password</label>
		<input type="password" name="password1" id="password1" class="form-control" placeholder="Enter 6 digit/alphanumeric password"/>
		<label for="password2">Confirm password</label>
		<input type="password" name="password2" id="password2" class="form-control" placeholder="Retype password"/>
	</div>
	<br/>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}